<form action="/greet" method="post">
  <label for="name">Enter your name: </label>
  <input type="text" id="name" name="name" />
  <br />
  <label for="timeOfDay">Time of Day: </label>
  <select id="timeOfDay" name="timeOfDay">
    <option value="morning">Morning</option>
    <option value="day">Day</option>
    <option value="evening">Evening</option>
  </select>
  <br />
  <button type="submit">Greet me!</button>
</form>
